__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv/
venv/
*.egg-info/
dist/
build/
.streamlit/
*.log
.DS_Store
.idea/
.vscode/
logs/
*.log
src/auth/users.json
data/*.db
htmlcov/
.coverage
.coverage.*

static/charts/*.png
static/charts/*.pdf
